.body{
    background-color: antiquewhite;
}

.options{
    color: grey;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: sans-serif;
    font-size: 10pt;
}

.assine{
    background-color: rgb(255, 0, 43);
    color: white;   
}

.linha-menu hr{
    border: none;
    height: 1px;
    background-color: grey;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.img-header{
    display: flex;
    justify-content: flex-start;   
}

.txt-header1{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.linha-header hr{
    border: none;
    height: 1px;
    background-color: grey;
    width: 100%;
}

.txt-header1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.txt-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 43);
    font-family: sans-serif;
    font-size: 15t;
}

.blocos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.bloco-1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.txt-b1{
    background-color: rgb(255, 0, 43);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.bloco-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
