<!DOCTYPE html>
<html>
    <head>
        <title>Servidor</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Exemplo de FOR</h1>
        <% for(let i=0; i < qtde; i++) { %>
            <div>Div número <%= i + 1 %></div>
        <% } %>
    </body>
</html>
