body{
    background-color: rgb(184, 184, 184);
}

.titulo{
    color: rgb(2, 168, 2);
    font-size: 25;
}

table {
    border: 3px solid rgb(2, 168, 2);       /* config borda (3px = tamanho da borda, solid = tipo de borda, rgb = cor da borda) */
    border-collapse: separate;      /* config das bordas externas e internas (nesse caso está separado) */
    color: white;       /* cor texto */
}

th,td{
    border: 1px solid rgb(2, 168, 2);      /* config borda (1px = tamanho da borda, solid = tipo de borda, rgb = cor da borda) */
    color:white;       /* cor do texto */
    text-align: center;      /* centraliza horizontalmente */
    vertical-align: middle;  /* centraliza verticalmente */
}
  