body{
    background-color: lightgray
}

.cabecalho{
    color: darkgreen;
    background-color: bisque;
    border: solid 3px darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu{
    font-size: 15pt;
    font-family: sans-serif;
    color: darkred;
    padding: 15px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
}

.subtitulo{
    display: flex;
    justify-content: center;
}

.txt{
    padding: 30px;
    font-size: 15pt;
    font-family: sans-serif;
    color: indigo   ;
    display: flex;
    text-align: center;
}

.imagens{
    padding: 30px;
    gap: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbl{
    border: dashed 2px red;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    .titulo_tbl{
        color:red
    }
}


.lista{
    background-color: yellow;
    width: 550px;
    font-size: 15pt;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.rodape{
    padding: 20px;
    color: black;
    background-color: bisque;
    font-size: 15pt;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
